body {
    background-image: url(https://i.pinimg.com/originals/3d/08/e0/3d08e03cb40252526fee2036a67f07f1.gif);
    background-size: 100%;
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    justify-content: center;
    width: 150px;
    height: 80px;
    background-color: #4CAF50; /* couleur de fond par défaut */
    color: white; /* couleur de texte par défaut */
    padding: 12px 24px; /* taille du bouton */
    border: none; /* bordure invisible */
    border-radius: 4px; /* coins arrondis */
    transition: all 0.3s ease; /* animation de transition sur toutes les propriétés */
  }

button:hover {
background-color: #3e8e41; /* couleur de fond au survol */
color: white; /* couleur de texte au survol */
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* ombre au survol */
transform: translateY(-3px); /* effet de translation vers le haut */
}

button:active {
background-color: #3e8e41; /* couleur de fond au clic */
color: white; /* couleur de texte au clic */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19); /* ombre au clic */
transform: translateY(-1px); /* effet de translation vers le haut */
}

span {
    text-align: center;
    width: fit-content;
    color: white;
    font-size: 100px
}
